@model IEnumerable<Yellamanchili_Exam02.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Book_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrower.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_received)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Book_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Borrower.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_received)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationID })
        </td>
    </tr>
}

</table>
