@model Yellamanchili_Exam02.Models.Borrower

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Borrower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borrower_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BorrowerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
